.App {
  display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-rows: 10vh 40vh 40vh 10vh;
      grid-template-areas:
        "header header header"
        "sidebar-1  content   sidebar-2"
        "sidebar-1  content   sidebar-2"
        "footer     footer    footer"

}
.header {
  grid-area: header;
  background: pink;
}

.footer {
  grid-area: footer;
  background: red;

}
.sidebar-left {
  grid-area: sidebar-1;
  background:green;
}
.content {
  grid-area: content;
  background:blue;
}
.sidebar-right {
  grid-area: sidebar-2;
  background:rgb(133, 24, 143);

}